@import "compass/reset";
@import "compass/css3";
body{
	font-family: arial;
}
.col-2{
	float:left;
	width:48%;
}
.small-btn{
	width: 120px;
}
.left{
	float:left;
	text-align:left;
}
.right{
	float:right;
	text-align:right;
}
.buttons{
	display:block;
	// width:100px;
	background:#1d7430;
	color:#fff;
	@include border-radius(5px);
	padding: 6px 15px;
	text-decoration: none;
	border: 0;
	font-size:1em;
	cursor: pointer;
}

.r_buttons{
	display:block;
	// width:100px;
	background:#D14102;
	color:#fff;
	@include border-radius(5px);
	padding: 6px 15px;
	text-decoration: none;
	border: 0;
	font-size:1em;
	cursor: pointer;
}

.orange_buttons{
	display:block;
	// width:100px;
	background:#D14102;
	color:#fff !important;
	@include border-radius(5px);
	padding: 6px 15px;
	text-decoration: none;
	border: 0;
	font-size:1em;
	cursor: pointer;
}

.orange_buttons:hover{
	background:#1d7430;
}

.r_buttons:hover, .buttons:hover {
	background:#f36501;
}

.content-header-button {
	display:inline-block;
	float:right;
}
/* form */
.form_box{	
	.form_row{
	margin-bottom:10px;
		.form_label{
			display:inline-block;
	        width: 115px;
	        font-size:1.2em;
	        vertical-align: top;
		}
		.form_widget{
			display:inline-block;
			input[type="text"], input[type="password"], input[type="email"]{
				height: 20px;
				width: 150px;
				@include border-radius(5px);
			}
			.comments-box{
				display:block;
			}
		}
		
	}

	.textarea_widget_comments textarea{
			width:400px;
			height:400px;
		}
}

.page{
	width:1024px;
	margin:auto;
	position:relative;
	header{
		color:#fff;
		.header-content{
			background-color:#fff; //#eadac0;
		}
		a{
			color:#fff;
		}
		.menu{
			background-color:#275d2c;
			border-bottom:1px solid #85b25f;
			overflow:hidden;
			 .breadcrumbs{
			 	float:left;

			 }
			 .menu-items{
			 	padding: 5px 15px 0;
			 	float:right;
			 	list-style: none;
			 }
			 ul{
				list-style: none;
				li{
					float:left;
					display:inline-block;
					padding:5px 8px;
				}
			}
		}
	}
	/*  page container     */
	.container{
		overflow: hidden;
		background: #dac9ab;
		// .sidebar{
		// 	float:left;
		// 	width:15%;
		// 	height:100%;
		// 	background: #dac9ab;
		// 	padding:30px 0;
		// 	color:#7b705e;
		// 	@include box-sizing(border-box);
		// 	a{
		// 		color:#7b705e;
		// 		text-decoration: none;
		// 	}
		// 	a.selected{
		// 		color:#000;
		// 	}
		// 	.sidebar-menu{
		// 		list-style: square;
		// 		margin-left: 35px;
		// 		li{
		// 			margin-bottom:5px;
		// 		}
		// 	}
		// 	.sec-lv-menu{
		// 		margin:5px 0 5px 10px;
		// 	}
		// 	.trd-lv-menu{
		// 		margin:5px 0 5px 10px;
		// 	}
		// }
		
		.page-content{
			width:95%;
			min-height: 400px;
			margin:0 auto;
			background-color:#fdfaf1;
			overflow: hidden;
			@include box-sizing(border-box);
			padding: 30px 20px;
			.content-header{
				overflow:hidden;
				border-bottom:1px solid grey;
				padding-bottom: 10px;
				margin-bottom: 25px;
				.content-title{
					font-weight:bold;
					float:left;
					font-size:150%;

				}
			}
			.content-sub-title{
				font-size:120%;
				margin:25px 0;
			}
			.content-table{
				border-collapse:collapse;
				width:100%;
				tr{
					th{
						background-color:#1C77E6;
						font-weight:bold;
					}
					td,th{
						border:1px solid grey;
						padding:15px 10px;
						a{
							color:#3f9226;
						}
					}
					td.low{
						background-color: #3f9226;
					}
					td.middle{
						background-color: #D14102;
					}
					td.high {
						background-color: red;
					}
					td.pass {
						background-color: #e3e3e3;
					}
				}
				tr:nth-child(even){
					background-color:#f5f3f4;
				}
			}

			.content-info-box{
				@include border-radius(5px);
				background-color:#f5f3f4;
				border: 1px solid grey;
				padding: 20px;
				padding-bottom: 40px;
				margin:20px 0;
				.content-info-box-title{
					margin:10px 0;
				}
				.info-box{

					border: 1px solid grey;
					margin-bottom: 10px;
					@include border-radius(5px);
					.info-box-title{
						padding:5px;
						background-color:#d1cfb8;
						border-bottom: 1px solid grey;
					}
					.info-box-content{
						padding:5px;

					}
					.comment-content {
						background: #fff;
					}
				}
			}
		}
	}
	footer{
		background: #5e5946;
		padding:5px 10px;
		.copyright{
			color:#fff;
			font-size:12px;
		}
	}
}

.tech-list{
	padding: 10px 0;
	border: 1px solid grey;
	margin-top: 5px;
	ul{
		li{
			margin-bottom: 8px;
			a{
				text-decoration: none;
			}
		}
		li:hover {
			background-color: yellow;
		}
	}
}

.popup-bg{
	position:absolute;
	display:none;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: #A8A8A8;
	@include opacity(0.7);
	z-index:20;
}
.popup-box{
	position:absolute;
	display:none;
	left:35%;
	top:300px;
	width:400px;
	height:300px;
	z-index:25;
	background-color:#fff;
	padding:30px;
	border: 3px solid #000;
}
.email textarea {
	width: 370px;
	height: 240px;
}